.heading{
    text-align: center;
    font-size: 40px;
    background-color: midnightblue;
    color: white;
}

.search-div{
    border: 1px solid black;
}

.search-head-row{
    background-color :midnightblue;
    color: white;
    padding: 5px;
}

.search-form{
    padding: 5px;
}